@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=EB+Garamond&display=swap");
header nav {
  width: 100%;
  position: relative; }
  header nav .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center; }
    header nav .navbar-nav .nav-item {
      margin: 0 1rem;
      position: relative; }
      header nav .navbar-nav .nav-item::before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 0;
        height: 8%;
        background-color: #F9D6D6;
        transition: all .3s ease; }
      header nav .navbar-nav .nav-item .nav-link {
        color: #000;
        letter-spacing: .1rem; }
      header nav .navbar-nav .nav-item:hover::before {
        width: 100%;
        transition: all .3s ease; }
  header nav .logo {
    max-width: 100px;
    width: 100%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4)); }
  header nav .menu-social-header {
    display: flex;
    flex-direction: row; }
    header nav .menu-social-header a {
      display: inline-block;
      margin: 0 1rem;
      border-radius: 50%;
      box-shadow: 0px 1px 2px #7d7d7d;
      width: 30px;
      height: 30px;
      background-color: #fff;
      position: relative; }
      header nav .menu-social-header a:hover {
        background-color: #F9D6D6;
        box-shadow: 0px 1px 2px #9EFCC4; }
      header nav .menu-social-header a i {
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.footer {
  min-height: 30vh;
  display: flex;
  align-items: center;
  background-color: #FFF9F4;
  border-bottom: 30px solid #F9D6D6; }
  .footer footer {
    width: 100%; }
    .footer footer a {
      text-decoration: none;
      font-family: 'Prata', serif;
      color: #000;
      text-align: center; }
    .footer footer h4 {
      font-family: 'Prata', serif;
      text-align: center; }
      .footer footer h4.line {
        text-decoration: underline; }
    .footer footer .menu-social-header {
      text-align: center; }
      .footer footer .menu-social-header a {
        display: inline-block;
        margin: 0 1rem;
        border-radius: 50%;
        box-shadow: 0px 1px 2px #7d7d7d;
        width: 30px;
        height: 30px;
        background-color: #fff;
        position: relative; }
        .footer footer .menu-social-header a:hover {
          background-color: #F9D6D6;
          box-shadow: 0px 1px 2px #9EFCC4; }
        .footer footer .menu-social-header a i {
          color: black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }

/*INICIA ESTILOS INDEX*/
.productosDestacados {
  padding: 5rem 1rem; }
  .productosDestacados #productos .item a {
    display: block;
    width: 100%;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    text-decoration: none;
    position: relative;
    padding: 1rem;
    z-index: 1; }
    .productosDestacados #productos .item a::after {
      position: absolute;
      content: " ";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: black;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.860679) 100%); }
    .productosDestacados #productos .item a span {
      color: #F9D6D6;
      font-size: 3.5rem;
      font-family: "Prata", serif;
      text-shadow: 0px 1px 3px #8d8d8d;
      position: absolute;
      right: .5rem;
      bottom: 0;
      z-index: 2; }
    .productosDestacados #productos .item a.mascarilla {
      background-image: url("../assets/img/index/mascarilla.png"); }
    .productosDestacados #productos .item a.aguaRosas {
      background-image: url("../assets/img/index/aguadeRosas.jpg"); }
    .productosDestacados #productos .item a.miel {
      background-image: url("../assets/img/index/miel.jpg"); }
    .productosDestacados #productos .item a:hover {
      filter: sepia(0.5); }

.texto {
  padding: 4rem 1rem 7rem 1rem; }
  .texto h2 {
    font-family: "Prata", serif;
    line-height: 3.5rem;
    color: #745739; }
    .texto h2 span {
      font-family: "Cormorant Garamond", serif;
      font-weight: 300; }
    .texto h2 label {
      float: right; }

.conoceProductos {
  padding: 5rem 1rem;
  background-color: #F9D6D6; }
  .conoceProductos h3 {
    font-family: "Prata", serif; }
    .conoceProductos h3 a {
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      text-align: right;
      color: #000;
      display: block;
      font-weight: 300;
      position: relative;
      right: 0;
      transition: all .3s ease; }
      .conoceProductos h3 a i {
        font-weight: 300; }
      .conoceProductos h3 a:hover {
        right: 1rem;
        color: #fff;
        transition: all .3s ease; }

.sliderCatalogo {
  padding: 5rem 1rem; }
  .sliderCatalogo #sliderCatalogo .item img {
    border-radius: 1rem;
    transition: all .3s ease; }
  .sliderCatalogo #sliderCatalogo .item .btnContacto .btnProducto {
    position: relative;
    bottom: 2rem; }
  .sliderCatalogo #sliderCatalogo .item .btnContacto .wApp {
    float: right;
    position: relative;
    bottom: 4rem;
    right: 1rem; }
  .sliderCatalogo #sliderCatalogo .item:hover img {
    box-shadow: 0px 0px 5px #b8b8b8;
    transition: all .3s ease; }

/*--------------RESPONSIVE----------*/
/* extra Small Devices*/
/*Small Devices*/
/*Medium devices*/
/*Large Devices*/
::selection {
  color: #fff;
  background: #F9D6D6; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #b8b8b8;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9EFCC4;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F9D6D6; }

a {
  transition: all .3s ease;
  display: inline-block; }

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem; }

h1 {
  font-size: 4.8rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem; }

.btnProducto {
  display: inline-block;
  text-decoration: none;
  background-color: #FFF9F4;
  max-width: 180px;
  width: 100%;
  font-family: "Prata", serif;
  color: #000;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 0 15px 0 0;
  box-shadow: 0px 0px 5px #e7e7e7; }
  .btnProducto:hover {
    background-color: #b8b8b8;
    color: #fff; }

.wApp {
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: #9EFCC4; }
  .wApp i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem; }
  .wApp:hover {
    background-color: #b8b8b8;
    color: #fff; }

/*Seccion Nosotros*/
.imagen__nosotros__superior {
  margin-top: 2rem; }

.header__nosotros {
  font-size: 6rem;
  margin: auto;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  color: #745739;
  margin-bottom: 2rem;
  margin-top: 4rem; }

.nosotros__texto__superior {
  width: 45%;
  margin: auto;
  text-align: justify;
  margin-bottom: 2rem; }

.seccion__caracteristicas__productos {
  width: 45%;
  background-color: #FFF9F4;
  margin: auto; }

.header2__nosotros {
  font-size: 5rem;
  margin: auto;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  color: #745739;
  margin-bottom: 2rem; }

.nosotros__texto__inferior {
  width: 45%;
  margin: auto; }

.header3__nosotros {
  font-size: 4rem;
  margin: auto;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  width: 80%;
  color: #745739;
  margin-bottom: 2rem; }

/*Seccion Catálogo*/
.header__catalogo {
  font-size: 5rem;
  font-family: 'Cormorant Garamond', serif;
  margin-left: 35%;
  color: #745739;
  margin-bottom: 2rem;
  margin-top: 4rem;
  width: 50%; }
  .header__catalogo div {
    margin-left: 40%; }

.seccion__productos {
  height: 700px; }

.texto__catalogo {
  margin-left: 50%;
  width: 100%; }

.imagen-producto {
  margin-bottom: 2rem; }
  .imagen-producto img {
    width: 500px; }

.boton-producto {
  background-color: #FFF9F4;
  font-family: 'EB Garamond', serif;
  width: 150px;
  height: 35px;
  margin-left: 3rem;
  border: none;
  box-shadow: 2px 2px 3px #fae7d8; }
  .boton-producto a {
    color: black;
    text-decoration: none; }

.leyendas-productos {
  line-height: 12px; }

.producto {
  margin-bottom: 4rem; }

/*secciones particulares de cada producto*/
.carrousel {
  width: 50%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 5rem; }

.carousel-control-prev-icon {
  background-color: gray; }

.carousel-control-next-icon {
  background-color: gray; }

.texto__producto__individual {
  width: 50%;
  margin: auto;
  margin-bottom: 4rem; }

.boton-comprar {
  width: 16rem;
  height: 3.5rem;
  margin-left: 25%;
  background-color: #fff2f2;
  border: none;
  box-shadow: -2px -2px 3px #F9D6D6;
  border-radius: 0 15px 0 0; }
  .boton-comprar a {
    text-decoration: none;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4rem; }

.banner-comprar {
  background-color: #fff2f2;
  text-align: center;
  margin-top: 4rem;
  height: 7rem; }
  .banner-comprar a {
    text-decoration: none;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.8rem; }

.imagen__producto__individual {
  margin: auto;
  width: 50%;
  margin-top: 4rem;
  margin-bottom: 5rem; }

/*Seccion contacto*/
.contacto-titulo {
  font-size: 5rem;
  font-family: 'Cormorant Garamond', serif;
  margin-left: 10%;
  color: #745739;
  margin-bottom: 2rem;
  margin-top: 4rem; }

.contacto-datos {
  margin-left: 15%; }

.direccion-retiro {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.8rem; }

.correo-electronico {
  margin-top: 6rem;
  font-size: 1.8rem;
  font-family: 'Cormorant Garamond', serif; }

.whatsapp {
  font-size: 1.8rem;
  font-family: 'Cormorant Garamond', serif;
  position: relative;
  margin-top: 3rem;
  padding-top: 3rem; }
  .whatsapp::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: " ";
    width: 55%;
    height: 2%;
    background-color: #000; }

.mensaje-final-contacto {
  font-size: 1.8rem;
  font-family: 'Cormorant Garamond', serif;
  margin-top: 6rem;
  width: 40%;
  margin-bottom: 6rem; }

/*Preguntas Frecuentes*/
.header__preguntas {
  font-size: 5rem;
  font-family: 'Cormorant Garamond', serif;
  margin-left: 12%;
  color: #745739;
  margin-bottom: 2rem;
  margin-top: 4rem;
  width: 50%; }
  .header__preguntas div {
    margin-left: 20%; }

.seccion__titulo__preguntas {
  height: 650px; }

.texto__preguntas {
  margin-left: 21%;
  width: 30%; }

.te-contamos {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5rem; }

.seccion__preguntas {
  width: 50%;
  margin: auto;
  text-align: justify; }

.titulos-preguntas {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5rem;
  text-align: left; }

.iamgen2-preguntas {
  margin-bottom: 4rem;
  margin-top: 4rem; }

.ultima-pregunta {
  margin-top: 3rem;
  margin-bottom: 8rem; }
