/*Seccion contacto*/
.contacto-titulo{
    font-size: 5rem;
    font-family: 'Cormorant Garamond', serif;
    margin-left:0%;
    color: $brown;
    margin-bottom: 2rem;
}
.contacto-datos{
    margin-left: 0%;
}
.direccion-retiro{
    font-size: 1.8rem;
}
.correo-electronico{
    margin-top: 6rem;
    font-size: 1.8rem;
}
.whatsapp{
    font-size: 1.8rem;
    position: relative;
    margin-top: 3rem;
    padding-top: 3rem;
    &::after{
        position: absolute;
        top:0px;
        left:0px;
        content: " ";
        width: 55%;
        height: 2%;
        background-color: $black;
    }
}
.mensaje-final-contacto{
    font-size: 1.8rem;
    margin-top: 6rem;
    width:40%;
    margin-bottom: 6rem;
}