header{
    nav{
        width: 100%;
        position: relative;

        .navbar-nav{
            width: 100%;
            display: flex;
            justify-content: center;
            .nav-item{
                margin: 0 1rem;
                transition: all .3s ease;

                &:hover{
                    font-weight: bold;
                }

                .nav-link{
                    color: $black;
                    letter-spacing: .2rem;
                }
            }
        }

        .logo{
            max-width: 100px;
            width: 100%;
            filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4));
        }

        .menu-social-header{
            display: flex;
            flex-direction: row;
            a{
                display: inline-block;
                margin: 0 1rem;
                border-radius: 50%;
                box-shadow: 0px 1px 2px #7d7d7d;
                width: 30px;
                height: 30px;
                background-color: $white;
                position: relative;

                &:hover{
                    background-color: $pink;
                    box-shadow: 0px 1px 2px $green;
                }

                i{
                    color: black;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);

                }
            }
        }
    }
}