/*Seccion Nosotros*/
.imagen__nosotros__superior{
    margin-top: 2rem;
}
.header__nosotros{
    font-size: 6rem;
    margin:auto;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    color: $brown;
    margin-bottom: 2rem;
    margin-top: 4rem;
}
.nosotros__texto__superior{
    width: 45%;
    margin:auto;
    text-align: justify;
    margin-bottom: 2rem;
}
.seccion__caracteristicas__productos{
    width:45%;
    background-color: $veige;
    margin:auto;
}
.header2__nosotros{
    font-size: 5rem;
    margin:auto;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    color: $brown;
    padding-bottom: 2rem;
}
.nosotros__texto__inferior{
    width: 45%;
    margin: auto;
}
.header3__nosotros{
    font-size: 4rem;
    margin:auto;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    width: 80%;
    color: $brown;
    margin-bottom: 2rem;
}