/*Preguntas Frecuentes*/
.preguntas{
    margin-top: 3rem;
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 2rem;

    &::before{
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 55%;
        height: 100%;
        background-image: url("../assets/img/preguntas-frecuentes-portada.png");
        background-size: cover;
        background-position: center center;
        z-index: -1;
    }
    &__header{
        font-size: 5rem;
        font-family:$cormorant;
        line-height: 4.5rem;
        color: $brown;

        i{
            float: right;
        }

    }
    &__texto{
        margin-left: 6.5rem;
        width: 60%;
        margin-top: 1.7rem;
    }
}

.te-contamos{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    margin-top: 2rem;
}
.seccion__preguntas{
    width:50%;
    margin:auto;
    text-align: justify;
}
.titulos-preguntas{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    text-align: left;
}
.iamgen2-preguntas{
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.ultima-pregunta{
    margin-top: 3rem;
    margin-bottom: 8rem;
}